<!-- <p-table [value]="allUsers">
    <ng-template pTemplate="header">
        <tr >
            <th pSortableColumn="nombre">
                Nombre
                <p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th pSortableColumn="id">
                Cargo
                <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="base">
                Base
                <p-sortIcon field="base"></p-sortIcon>
            </th>
            <th pSortableColumn="estado">
                Nombre
                <p-sortIcon field="estado"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.nombre + " "+ user.apellido}}</td>
            <td>{{user.id}}</td>
            <td>{{user.id}}</td>
            <td>{{user.id}}</td>
        </tr>
    </ng-template>
</p-table> -->
