<p-card header="Registro cuenta" [style]="{'width': '35rem', 'margin': 'auto', 'margin-top': '2em'}">
    <div class="container">
        <h6>ID de cliente</h6>
        <p-inputNumber [(ngModel)]="account.idCliente" class="p-inputtext-sm" [format]="false">
        </p-inputNumber>
        <h6>Numero de cuenta</h6>
        <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="account.numeroCuenta">
        <h6>Saldo actual</h6>
        <p-inputNumber [(ngModel)]="account.saldo" class="p-inputtext-sm" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2" [min]="0">
        </p-inputNumber>
        <div>
            <p-button label="Crear cuenta" [style]="{ 'margin': 'auto', 'margin-top': '2em'}" styleClass="p-button-sm" (onClick)="createAccount()"></p-button>
        </div>
    </div>
</p-card>